form {
    width: 500px;
    margin: 20px 0;
}

label, input, select {
    display: block;
}

label {
    font-size: 20px;
    margin: 20px 0;
}

input, select {
    border: 1px solid #ededed;
    border-radius: 4px;
    padding: 12px;
    font-size: 16px;
    width: 100%;
}

select {
    border: 1px solid #ededed;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    width: 100%;
}

button {
    background-color: darkcyan;
    font-family: 'Poppins', 'Arial', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    padding: 20px 36px;
    cursor: pointer;
}

.image-preview {
    width: 200px;
    display: block;
}